<!DOCTYPE html>
<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
    <header>
        <% include ./../partials/header %>
    </header>
    <!-- Adicionar uma busca por telefone e/ou nome -->
    <div class="container mt-2">
        <div class="row">
            <div class="col offset-md-4">
                <form method="GET" action=''>
                    <label>Comanda:</label>
                    <input type="text" placeholder="XX" name="comanda" />
                    <input type="submit" value="Listar Pedidos" class="btn btn-primary"/>
                </form>
            </div>
        </div>        
        <!-- Apresentando os resultados. -->
        <% if (pedidos && pedidos.length >=1 && detalhe == 1 ) { %>
        <div>
            <div class="row m-2">
                <div class="col">
                    <h1>Comanda: <span><%= pedidos[0].numComanda %></span></h1>
                </div>
                <div class="col d-flex justify-content-end">
                    <span><a href="/pedido/fechar?comanda=<%= pedidos[0].numComanda %>"" class="btn btn-secondary">Fechar Pedido</a></span>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td scope="col">Item</td>
                            <td scope="col">Qtd</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < pedidos.length;  i++) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= pedidos[i].item %></td>
                                <td><%= pedidos[i].qtd %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <div class="col">
                    <span><a href="/pedido/fechar?comanda=<%= pedidos[0].numComanda %>" class="btn btn-secondary">Fechar Pedido</a></span>
                </div>
            </div>
        </div>
        <% } else { %>
            <div>
                <div class="row m-2">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td scope="col">Comanda</td>
                                <!--<td scope="col">Data da Abertura da Comanda</td>-->
                                <td scope="col">Detalhes</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < pedidos.length;  i++) { %>
                                <tr>
                                    <td><%= pedidos[i] %></td>
                                    <!--<td><%= pedidos[i].createdAt %></td>-->
                                    <td><a href="/pedido/list?comanda=<%= pedidos[i] %>">ver</a></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
    <footer>
        <% include ./../partials/footer %>
    </footer>
</body>
</html>