<!DOCTYPE html>
<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
    <header>
        <% include ./../partials/header %>
    </header>
    <form class="form-group" action="/cliente/edit" method="post">
        <input type="hidden" name="id" value="<%= cliente._id %>" />
        <label>Nome:</label>
        <input class="form-control form-control-lg" type="text" name="nome" value="<%= cliente.nome %>" />
        <br/>
        <label>Telefone:</label>
        <input class="form-control form-control-lg" type="text" name="telefone" value="<%= cliente.telefone %>" />
        <br/>
        <label>Comanda:</label>
        <input class="form-control form-control-lg" type="text" name="numComanda" value="<%= cliente.numComanda %>" />
        <br/>
        <!-- RedList ainda não implementado 
        <label>Lista Vermelha:</label>
        <input class="form-control form-control-lg" type="checkbox" name="isRedList" value="<%= cliente.isRedList %>" />
        <br/>
        -->
        <input class="btn btn-primary btn-lg" type="submit" value="Editar Cliente" />
        <input class="btn btn-secondary btn-lg" type="reset" value="Apagar Dados" />
    </form>
    <footer>
        <% include ./../partials/footer %>
    </footer>
</body>
</html>