<!DOCTYPE html>
<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
    <header>
        <% include ./../partials/header %>
    </header>
    <div class="container mt-2">
        <form class="form-group" action="/produto/edit" method="post">
            <input type="hidden" name="id" value="<%= produto._id %>" />
            <div class="row">
                <label>Produto</label>
                <input class="form-control form-control-lg" type="text" name="nome" value="<%= produto.nome %>" />
            </div>
            <br/>
            <div class="row">
                <label>Qtd.</label>
                <input class="form-control form-control-lg" type="text" name="quantidade" value="<%= produto.quantidade %>" />
            </div>
            <br/>
            <div class="row">
                <label>Preço Compra</label>
                <input class="form-control form-control-lg" type="text" name="precoCompra" value="<%= produto.precoCompra %>" />
            </div>
            <br/>
            <div class="row">
                <label>Preço Venda</label>
                    <input class="form-control form-control-lg" type="text" name="precoVenda" value="<%= produto.precoVenda %>" />
            </div>
            <br/>
            <input class="btn btn-primary btn-lg" type="submit" value="Editar Produto" />
            <input class="btn btn-secondary btn-lg" type="reset" value="Apagar Dados" />
        </form>
    </div>
    <footer>
        <% include ./../partials/footer %>
    </footer>
</body>
</html>